In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

## Series

In [3]:
series = pd.Series(['toyota', 'honda', 'bmw'])
series

0    toyota
1     honda
2       bmw
dtype: object

> series is 1 dimentional data

In [4]:
colors = pd.Series(['Blue', 'Green', 'Red'])
colors

0     Blue
1    Green
2      Red
dtype: object

In [5]:
df = pd.DataFrame({'brand': series, 'color': colors})
df

    brand  color
0  toyota   Blue
1   honda  Green
2     bmw    Red

> data frame is 2 dimentional data

In [6]:
df = pd.read_csv('data/car-sales.csv')
df

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00